.filter_section {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  padding-left: 50px;
}

.shopcard {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  padding-top: 20px;
  padding-left: 20px;
}

.filter_section .category_section {
  margin-bottom: 1rem;
}

.filter_section .category_section .label {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.filter_section .price_section {
  margin-bottom: 1rem;
}

.filter_section .price_section .label {
  margin-bottom: 2.5rem;
  font-weight: 600;
}
